{{#each this.model as |album|}}
  <p>
    Title: {{album.artist.name}}:
    {{#link-to "artists.artist.albums.album" album.artist.id album.id}}
      {{album.title}}
    {{/link-to}}
  </p>
  <p>Year: {{album.year}}</p>
  <p>Label: {{album.label}}</p>
  <button class="btn" onclick={{action "addToCollection" album.id}}>Add to collection</button>
{{/each}}

{{outlet}}